<div class="row">
  <div class="card col-3">
    <h5>Chapter 9: Menu</h5>
    <div id='menu'>
      Loading...
    </div>
  </div>

  <div class="card col-3">
    <h5>Chapter 10: Tooltip</h5>
    <div id='tooltip'>
      Loading...
    </div>
  </div>

  <div class="card col-5">
    <h5>Chapter 11: Timer</h5>
    <div id='timer'>
      Loading...
    </div>
  </div>
</div>

<div class="row">
  <div class="card col-3">
    <h5>Router</h5>
    <div id='naive-router'>
      Loading...
    </div>
  </div>
</div>

<%= javascript_pack_tag 'menu/index' %>
<%= javascript_pack_tag 'tooltip/index' %>
<%= javascript_pack_tag 'timer/index' %>
<%= javascript_pack_tag 'naive-router/index' %>
